{% load static %}

    <header class="absolute inset-x-0 top-0 z-10 w-full">
        <div class="px-4 mx-auto sm:px-6 lg:px-20">
            <div class="flex items-center justify-between h-16 lg:h-20">
                <div class="flex-shrink-0">
                    <a href="#" title="" class="flex">
                        <img class="w-auto h-8" src="{% static 'imgs/theme/logo-w.png' %}" alt="" />
                    </a>
                </div>

                <button type="button" class="inline-flex p-2 text-white transition-all duration-200 rounded-md lg:hidden focus:bg-gray-100 hover:bg-gray-100">
                    <svg class="block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>

                    <svg class="hidden w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>

                <div class="hidden ml-auto lg:flex lg:items-center lg:justify-center lg:space-x-10">
                    <a href="#" title="" class="text-base font-semibold text-white transition-all duration-200 hover:text-opacity-80"> Home </a>
                    <a href="#" title="" class="text-base font-semibold text-white transition-all duration-200 hover:text-opacity-80"> About Us </a>
                    <a href="#" title="" class="text-base font-semibold text-white transition-all duration-200 hover:text-opacity-80"> Contact Us </a>
                </div>
                <div class="lg:flex lg:items-center lg:justify-end lg:space-x-6 sm:ml-auto">
                    <a href="{% url 'account:login' %}" title="" class="hidden text-base text-white transition-all duration-200 lg:inline-flex hover:text-opacity-80"> Log in </a>
                    <a href="{% url 'account:register' %}" title="" class="inline-flex items-center justify-center px-3 sm:px-5 py-2.5 text-sm sm:text-base font-semibold transition-all duration-200 text-white bg-white/20 hover:bg-white/40 focus:bg-white/40 rounded-lg" role="button"> Register </a>
                </div>
            </div>
        </div>
    </header>
